.Text-title {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: sans-serif;
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
}

.Text-title.Text-title--edit {
  border-bottom: 1px solid white;
}
