.TitleImage-buttonBar > button + button {
  margin-left: 5px;
}

.TitleImage-titleImage {
  position: relative;
  margin: 10px 0;
}

.TitleImage-imageSpinner,
.TitleImage-imageCropper {
  position: absolute;
  top: 0;
}

.TitleImage-text {
  position: absolute;
  left: 10px;
  bottom: 15px;
  width: 400px;
}
