body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-author {
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
}

.App-body {
  box-sizing: content-box;
  max-width: 768px;
  margin: 20px auto;
  padding: 0 10px;
}
