.Spinner-overlay {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.Spinner-text {
  margin: 0;
  font-size: 4em;
}
