.Cropper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.Cropper-layer {
  position: absolute;
  box-sizing: border-box;
  cursor: move;
  border: 1px solid red;
  box-shadow: 0 0 3px 3px red;
}

.Cropper-dragger {
  position: absolute;
  height: 12px;
  width: 12px;
  right: 0;
  bottom: 0;
  background-color: red;
  cursor: nwse-resize;
}
